<h1>Create a new Song</h1>
 
<form action="/songs/<%=@song.slug%>" method="POST">
   <input type="hidden" name="_method" value="PATCH">
  <label>Name:</label>
 
  <br></br>
 
  <input type="text" name="song_name" id="song_name" value ="<%=@song.name%>">
 
  <br></br>
 
  <label>Choose an existing Genre:</label>
 
  <br></br>
 
  <%@genres.all.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>"<%= 'checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
  <%end%>
  
  
 
  <br></br>
  
  
   
    <label>Create a new Artist:</label>
    <br></br>
    <label>Artist Name</label>
      <input  type="text" name="artist_name" value ="<%=@song.artist.name%>"></input>

    <br></br>
    <input type="submit" value="Save">
  
  